build/*
dist/*
libs/*
nbproject/*
build.xml
manifest.mf
README.md
res/*
maps/*

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.properties
*.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

nbproject/private/private.properties
/bin/
.classpath
.project
